h1{
    background-color: green;
    text-align: center;
}

h2{
    text-align: center;
    background-color: red;
}

#Groupnamebutton {
    background-color: blue;
}

#sendmessage{
    background-color: yellow;

}