<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="chat.css">


    <title>Group Chat app</title>
</head>
<body>

    <h1>Chat App</h1>

    <ol id="allGroupnameShow">
        <h2>Your created groups</h2>
        
    </ol>

    <ul id="showAllusersOfGroup">
        
        
    </ul>

    <ul id="showAllSignupUsers">
        
    </ul><br>

    

    <input type="text" id="Groupname" name="Groupname" placeholder="enter group name to create"  required>
    <button type="button" id="Groupnamebutton">Group Name</button><br><br>



   <ul id="allMessagesShow">
        <h2>your Chat messages</h2> 
        
    </ul><br><br> 


    <input type="text" id="inputmessage" name="message" placeholder="message to send" required>
    <button type="button" id="sendmessage">Send</button>


    
</body>

<script src="chat.js"></script>

</html>